// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (min-width: 1000px) {
.container {
  font-size: 3vw;
  }

  .button {
    font-size: 2vw;
  }
}
@media (max-width: 1000px) {
  .container {
    font-size: 7vw;
  }

  .button {
    margin-top: 3rem;
    font-size: 7vw;
  }
}

.historyText {
  line-height: normal;
}

.button {
  margin-top: 2em;
}
